<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zerowidth.gh-shorthand</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>125D710F-EAEA-464D-A24F-7CE05A9FE723</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8107E36-C669-4EAF-99C1-93367E49F5AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13C73F0F-49C2-4C91-8412-02C0934FB773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16015ABA-CDEC-4517-B775-1EE50DBD303B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2672CB5F-A80E-4D92-9AF1-76C233C9E0C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399D91FB-2935-4416-941A-8EA82244BB2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399D91FB-2935-4416-941A-8EA82244BB2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58CE5C91-8713-404B-80E5-17A455BF445D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B392424-01E2-4376-9BCF-808FD9363C4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60E158C2-449E-4EE0-907F-086E5F71951C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61A8F4DB-9AF7-42E4-A041-D638041E4F69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F08AF864-D123-462F-93AF-C825AA7B7593</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8D12C4B3-23F6-4019-ACCE-34155B9D6733</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECBE697D-7144-42FB-A083-CAE5E03F74FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E4AA5FA-DCB2-4260-B916-AE22FE58A046</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA5E4728-D001-400B-8B09-BF5244EC6FAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D3217929-5E3C-4E32-982B-2113140561FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B392424-01E2-4376-9BCF-808FD9363C4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>07C3311E-166E-4AE0-B904-56F048F219F4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A09BDDE3-C499-4839-9D14-B1FF895AB272</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF253A81-6625-453D-BE45-DC43E92A72C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6209B935-7E0B-4E0F-89CD-1578E40FFAFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82B2E660-AAB7-41CB-BAC5-5D8BB3302500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3CFC472-CF47-4072-B35C-BDF99697D7C7</key>
		<array/>
		<key>B76296E1-C28E-4CC4-864A-4EE74F639B2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61A8F4DB-9AF7-42E4-A041-D638041E4F69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA5E4728-D001-400B-8B09-BF5244EC6FAF</key>
		<array/>
		<key>BC377112-1CFE-4FFF-8C61-76F4EE7C5F21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8107E36-C669-4EAF-99C1-93367E49F5AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF253A81-6625-453D-BE45-DC43E92A72C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C51CB0D4-053F-4974-AF4D-56B8C7581B7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8107E36-C669-4EAF-99C1-93367E49F5AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0F253C9-561D-4D1D-8DDF-917332DA2E20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D83420D3-EC3F-439B-874F-902948F32C28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13C73F0F-49C2-4C91-8412-02C0934FB773</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3EF03F2-6E77-4455-B9D7-6727F063D410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC5F70BD-941B-45C0-A55A-59EE9ED52EFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8107E36-C669-4EAF-99C1-93367E49F5AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2672CB5F-A80E-4D92-9AF1-76C233C9E0C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE4CF832-DE31-46F1-BA15-8A16019149CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zerowidth</string>
	<key>description</key>
	<string>Access repos and more with configurable shorthand</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Shorthand Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>g</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND complete "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND complete "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE4CF832-DE31-46F1-BA15-8A16019149CF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># Evaluate the configured editor script to open $path.
#
# Expand ~/ for both `gh-shorthand` and the path to edit:
path=${1/\~/$HOME} # expand ~/
if edit_script=$(${GH_SHORTHAND/\~/$HOME} editor); then
  # redirect stderr so errors are displayed
  eval "$edit_script" 2&gt;&amp;1
else
  echo "Can't open editor: $edit_script"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>F08AF864-D123-462F-93AF-C825AA7B7593</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>edit</string>
						<key>outputlabel</key>
						<string>edit</string>
						<key>uid</key>
						<string>8D12C4B3-23F6-4019-ACCE-34155B9D6733</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>finder</string>
						<key>outputlabel</key>
						<string>finder</string>
						<key>uid</key>
						<string>6E4AA5FA-DCB2-4260-B916-AE22FE58A046</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>term</string>
						<key>outputlabel</key>
						<string>term</string>
						<key>uid</key>
						<string>D3217929-5E3C-4E32-982B-2113140561FC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>A09BDDE3-C499-4839-9D14-B1FF895AB272</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>missing</string>
						<key>uid</key>
						<string>07C3311E-166E-4AE0-B904-56F048F219F4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>unknown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>61A8F4DB-9AF7-42E4-A041-D638041E4F69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND complete "e${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools - Open Editor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC5F70BD-941B-45C0-A55A-59EE9ED52EFA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ECBE697D-7144-42FB-A083-CAE5E03F74FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND complete "t${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools - Open Terminal</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>82B2E660-AAB7-41CB-BAC5-5D8BB3302500</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd {query}
clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BA5E4728-D001-400B-8B09-BF5244EC6FAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>action missing. argument: '{query}'</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B392424-01E2-4376-9BCF-808FD9363C4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>s</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND complete "s${@}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools - Search issues for...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6209B935-7E0B-4E0F-89CD-1578E40FFAFD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>unknown action '{var:action}'. arg: '{query}'</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BF253A81-6625-453D-BE45-DC43E92A72C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>subtext</key>
				<string>Edit ~/.gh-shorthand.yml</string>
				<key>text</key>
				<string>Configure GitHub Shorthand Tools</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>GitHub Shorthand Tools Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>~/.gh-shorthand.yml</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>edit</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>399D91FB-2935-4416-941A-8EA82244BB2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>exec $GH_SHORTHAND markdown-link "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13C73F0F-49C2-4C91-8412-02C0934FB773</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gml</string>
				<key>subtext</key>
				<string>Convert a github issue/pr url on the clipboard to a markdown link</string>
				<key>text</key>
				<string>GitHub Markdown Link</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gml</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ml</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>16015ABA-CDEC-4517-B775-1EE50DBD303B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>exec $GH_SHORTHAND markdown-link --description "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2672CB5F-A80E-4D92-9AF1-76C233C9E0C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gmd</string>
				<key>subtext</key>
				<string>Convert a github issue/pr url on the clipboard to a markdown link</string>
				<key>text</key>
				<string>GitHub Markdown Link with Description</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC377112-1CFE-4FFF-8C61-76F4EE7C5F21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8107E36-C669-4EAF-99C1-93367E49F5AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C51CB0D4-053F-4974-AF4D-56B8C7581B7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>md</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>125D710F-EAEA-464D-A24F-7CE05A9FE723</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gir</string>
				<key>subtext</key>
				<string>Convert a github issue/pr url on the clipboard to a shorthand reference</string>
				<key>text</key>
				<string>GitHub Issue Reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60E158C2-449E-4EE0-907F-086E5F71951C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>exec $GH_SHORTHAND issue-reference "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E3EF03F2-6E77-4455-B9D7-6727F063D410</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>D0F253C9-561D-4D1D-8DDF-917332DA2E20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Alfred 3 workflow provides easy access to GitHub repositories, issue search, local project directories, and more using a configurable shorthand.

View the README at https://github.com/zerowidth/gh-shorthand for configuration instructions.</string>
	<key>uidata</key>
	<dict>
		<key>10A42F83-D208-4620-ADCD-E28A7C2B6800</key>
		<dict>
			<key>note</key>
			<string>error message</string>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>125D710F-EAEA-464D-A24F-7CE05A9FE723</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>13C73F0F-49C2-4C91-8412-02C0934FB773</key>
		<dict>
			<key>note</key>
			<string>gh-shorthand markdown-link</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>16015ABA-CDEC-4517-B775-1EE50DBD303B</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>1120</integer>
		</dict>
		<key>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</key>
		<dict>
			<key>note</key>
			<string>open editor with {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</key>
		<dict>
			<key>note</key>
			<string>open {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2672CB5F-A80E-4D92-9AF1-76C233C9E0C0</key>
		<dict>
			<key>note</key>
			<string>gh-shorthand markdown-link --description</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</key>
		<dict>
			<key>note</key>
			<string>configure shorthand tools</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>399D91FB-2935-4416-941A-8EA82244BB2E</key>
		<dict>
			<key>note</key>
			<string>edit ~/.gh-shorthand.yml</string>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>58CE5C91-8713-404B-80E5-17A455BF445D</key>
		<dict>
			<key>note</key>
			<string>clipboard</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1455</integer>
		</dict>
		<key>5B392424-01E2-4376-9BCF-808FD9363C4D</key>
		<dict>
			<key>note</key>
			<string>error: missing action</string>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</key>
		<dict>
			<key>note</key>
			<string>gh-shorthand issue-reference</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1425</integer>
		</dict>
		<key>60E158C2-449E-4EE0-907F-086E5F71951C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1425</integer>
		</dict>
		<key>61A8F4DB-9AF7-42E4-A041-D638041E4F69</key>
		<dict>
			<key>note</key>
			<string>case {var:action}</string>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>6209B935-7E0B-4E0F-89CD-1578E40FFAFD</key>
		<dict>
			<key>note</key>
			<string>convert 's&lt;text&gt;' to search actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1095</integer>
		</dict>
		<key>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</key>
		<dict>
			<key>note</key>
			<string>github shorthand filter

convert 'g&lt;text&gt;' to actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>82B2E660-AAB7-41CB-BAC5-5D8BB3302500</key>
		<dict>
			<key>note</key>
			<string>convert 't&lt;text&gt;' to terminal actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>B3CFC472-CF47-4072-B35C-BDF99697D7C7</key>
		<dict>
			<key>note</key>
			<string>paste {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>B76296E1-C28E-4CC4-864A-4EE74F639B2D</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>BA5E4728-D001-400B-8B09-BF5244EC6FAF</key>
		<dict>
			<key>note</key>
			<string>cd {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>BC377112-1CFE-4FFF-8C61-76F4EE7C5F21</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>BF253A81-6625-453D-BE45-DC43E92A72C6</key>
		<dict>
			<key>note</key>
			<string>error: unknown action</string>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>C51CB0D4-053F-4974-AF4D-56B8C7581B7F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1315</integer>
		</dict>
		<key>D0F253C9-561D-4D1D-8DDF-917332DA2E20</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>1560</integer>
		</dict>
		<key>D83420D3-EC3F-439B-874F-902948F32C28</key>
		<dict>
			<key>note</key>
			<string>clipboard</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>E3EF03F2-6E77-4455-B9D7-6727F063D410</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1535</integer>
		</dict>
		<key>EC5F70BD-941B-45C0-A55A-59EE9ED52EFA</key>
		<dict>
			<key>note</key>
			<string>convert 'e&lt;text&gt;' to edit actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>ECBE697D-7144-42FB-A083-CAE5E03F74FF</key>
		<dict>
			<key>note</key>
			<string>open finder with {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F8107E36-C669-4EAF-99C1-93367E49F5AF</key>
		<dict>
			<key>note</key>
			<string>clipboard</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1235</integer>
		</dict>
		<key>FE4CF832-DE31-46F1-BA15-8A16019149CF</key>
		<dict>
			<key>note</key>
			<string>github shorthand filter

convert 'gh&lt;text&gt;' to actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GH_SHORTHAND</key>
		<string>~/go/bin/gh-shorthand</string>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zerowidth/gh-shorthand.alfredworkflow</string>
</dict>
</plist>
