<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zerowidth.gh-shorthand</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08FBF6E1-3BAF-460C-A092-F32BA2C9BB2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5188A37A-2D54-4C5C-BD05-D1BCA54A4E71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13C73F0F-49C2-4C91-8412-02C0934FB773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15EDCCD8-D9FD-4C8C-AF23-072DCBC49B65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2221A9CD-EA12-4CA7-A167-CC879D6E6FD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>266589AF-4BBD-47BB-8AC4-42D7A8F9A9D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67DF300-2383-4166-80AE-1B372DF844D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399D91FB-2935-4416-941A-8EA82244BB2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31AE0142-FBB7-4205-B9BE-E883628C5FEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15EDCCD8-D9FD-4C8C-AF23-072DCBC49B65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399D91FB-2935-4416-941A-8EA82244BB2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5188A37A-2D54-4C5C-BD05-D1BCA54A4E71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52B6EB42-5058-422A-88BA-6708ECD4CAD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54B604D3-B5B3-4345-86FE-E24CFAB73636</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F90F3CCB-0920-4D5D-A225-1446D2A2A8AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58CE5C91-8713-404B-80E5-17A455BF445D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60E158C2-449E-4EE0-907F-086E5F71951C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>641B9D67-E0A2-4E4D-B173-311EFEC5E9A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ED69D0B-BE9E-48F4-9C2D-586EA3AAD3B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52B6EB42-5058-422A-88BA-6708ECD4CAD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5A11480-CEAD-4CA5-9FF1-CB0175EC189D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB204718-5A97-4642-8F05-48740B01D9B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3994634-DAE0-4731-A50C-B90467665AE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2221A9CD-EA12-4CA7-A167-CC879D6E6FD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3CFC472-CF47-4072-B35C-BDF99697D7C7</key>
		<array/>
		<key>B5F2864B-81D9-4ECA-8352-189497BEA83F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>641B9D67-E0A2-4E4D-B173-311EFEC5E9A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76296E1-C28E-4CC4-864A-4EE74F639B2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ED69D0B-BE9E-48F4-9C2D-586EA3AAD3B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F33B74F1-CAC9-47C4-9815-D8A6E04BA755</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31AE0142-FBB7-4205-B9BE-E883628C5FEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08FBF6E1-3BAF-460C-A092-F32BA2C9BB2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5A11480-CEAD-4CA5-9FF1-CB0175EC189D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54B604D3-B5B3-4345-86FE-E24CFAB73636</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>266589AF-4BBD-47BB-8AC4-42D7A8F9A9D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA5E4728-D001-400B-8B09-BF5244EC6FAF</key>
		<array/>
		<key>C67DF300-2383-4166-80AE-1B372DF844D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1959751-C207-4C71-911C-5B6220129C3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D83420D3-EC3F-439B-874F-902948F32C28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13C73F0F-49C2-4C91-8412-02C0934FB773</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB204718-5A97-4642-8F05-48740B01D9B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECBE697D-7144-42FB-A083-CAE5E03F74FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3EF03F2-6E77-4455-B9D7-6727F063D410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F33B74F1-CAC9-47C4-9815-D8A6E04BA755</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1959751-C207-4C71-911C-5B6220129C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F90F3CCB-0920-4D5D-A225-1446D2A2A8AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA5E4728-D001-400B-8B09-BF5244EC6FAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zerowidth</string>
	<key>description</key>
	<string>Access repos and more with configurable shorthand</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Shorthand Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>GitHub Shorthand Tools Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>10A42F83-D208-4620-ADCD-E28A7C2B6800</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>exec $GH_SHORTHAND "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>filter.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GitHub Shorthand Tools</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Unknown command: {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>52B6EB42-5058-422A-88BA-6708ECD4CAD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!(error|open|edit|finder|term|paste)\s+).*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7ED69D0B-BE9E-48F4-9C2D-586EA3AAD3B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D1959751-C207-4C71-911C-5B6220129C3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^error\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F33B74F1-CAC9-47C4-9815-D8A6E04BA755</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghc</string>
				<key>subtext</key>
				<string>Edit ~/.gh-shorthand.yml</string>
				<key>text</key>
				<string>Configure GitHub Shorthand Tools</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B76296E1-C28E-4CC4-864A-4EE74F639B2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>edit ~/.gh-shorthand.yml</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>399D91FB-2935-4416-941A-8EA82244BB2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string># exec with a newer bash as a login shell, 
# so the editor (e.g. mvim) gets the proper environment
if [ -d "$@" ]; then
  exec /usr/local/bin/bash -l -c "cd \"$@\" &amp;&amp; $EDITOR ."
else
  dn=$(dirname "$@") # get the dirname
  dir=${dn/\~/$HOME} # expand ~/
  f=$(basename "$@")
  exec /usr/local/bin/bash -l -c "cd \"$dir\" &amp;&amp; $EDITOR \"$f\""
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^open\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>31AE0142-FBB7-4205-B9BE-E883628C5FEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>15EDCCD8-D9FD-4C8C-AF23-072DCBC49B65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghto</string>
				<key>subtext</key>
				<string>Opens the shorthand tools directory in Finder</string>
				<key>text</key>
				<string>View GitHub Shorthand Tools Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5F2864B-81D9-4ECA-8352-189497BEA83F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^edit\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>08FBF6E1-3BAF-460C-A092-F32BA2C9BB2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5188A37A-2D54-4C5C-BD05-D1BCA54A4E71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>finder .</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>641B9D67-E0A2-4E4D-B173-311EFEC5E9A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ECBE697D-7144-42FB-A083-CAE5E03F74FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DB204718-5A97-4642-8F05-48740B01D9B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^finder\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A5A11480-CEAD-4CA5-9FF1-CB0175EC189D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>echo term `pwd`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2221A9CD-EA12-4CA7-A167-CC879D6E6FD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghtt</string>
				<key>subtext</key>
				<string>Opens the shorthand tools directory in terminal</string>
				<key>text</key>
				<string>Terminal in the GitHub Shorthand Tools directory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3994634-DAE0-4731-A50C-B90467665AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^term\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>54B604D3-B5B3-4345-86FE-E24CFAB73636</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F90F3CCB-0920-4D5D-A225-1446D2A2A8AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd {query}
clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BA5E4728-D001-400B-8B09-BF5244EC6FAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\w+\s+</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C67DF300-2383-4166-80AE-1B372DF844D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^paste\s+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>266589AF-4BBD-47BB-8AC4-42D7A8F9A9D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>url = ARGV[0]
if %r(github\.com/(?&lt;user&gt;[^/]+)/(?&lt;repo&gt;[^/]+)/(issues|pull)/(?&lt;id&gt;\d+)(#(?&lt;anchor&gt;.*))?) =~ url
  print "[%s/%s#%s](%s)" % [user, repo, id, url]

else
  print url
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13C73F0F-49C2-4C91-8412-02C0934FB773</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gml</string>
				<key>subtext</key>
				<string>Convert a github issue/pr url on the clipboard to a markdown link</string>
				<key>text</key>
				<string>GitHub Markdown Link</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D83420D3-EC3F-439B-874F-902948F32C28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B3CFC472-CF47-4072-B35C-BDF99697D7C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gml</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>url = ARGV[0]
if %r(github\.com/(?&lt;user&gt;[^/]+)/(?&lt;repo&gt;[^/]+)/(issues|pull)/(?&lt;id&gt;\d+)) =~ url
  print "%s/%s#%s" % [user, repo, id]
else
  print url
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gir</string>
				<key>subtext</key>
				<string>Convert a github issue/pr url on the clipboard to a shorthand reference</string>
				<key>text</key>
				<string>GitHub Issue Reference</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60E158C2-449E-4EE0-907F-086E5F71951C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>58CE5C91-8713-404B-80E5-17A455BF445D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>gir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>E3EF03F2-6E77-4455-B9D7-6727F063D410</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Alfred 3 workflow provides easy access to GitHub repositories, issue search, local project directories, and more using a configurable shorthand.

View the README at https://github.com/zerowidth/gh-shorthand.alfredworkflow for configuration instructions.</string>
	<key>uidata</key>
	<dict>
		<key>08FBF6E1-3BAF-460C-A092-F32BA2C9BB2B</key>
		<dict>
			<key>note</key>
			<string>edit &lt;path&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>10A42F83-D208-4620-ADCD-E28A7C2B6800</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>13C73F0F-49C2-4C91-8412-02C0934FB773</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>15EDCCD8-D9FD-4C8C-AF23-072DCBC49B65</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1F19CDDD-6964-4CB1-BC97-D2226B05A89F</key>
		<dict>
			<key>note</key>
			<string>open editor with {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>21A75BDB-BACC-4049-9F63-BEA3FA6B78E4</key>
		<dict>
			<key>note</key>
			<string>open {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2221A9CD-EA12-4CA7-A167-CC879D6E6FD4</key>
		<dict>
			<key>note</key>
			<string>term `pwd`</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>266589AF-4BBD-47BB-8AC4-42D7A8F9A9D7</key>
		<dict>
			<key>note</key>
			<string>paste &lt;string&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>2AE6E21F-7F13-40ED-A6E8-479AE73422C3</key>
		<dict>
			<key>note</key>
			<string>configure shorthand tools</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>31AE0142-FBB7-4205-B9BE-E883628C5FEE</key>
		<dict>
			<key>note</key>
			<string>open &lt;url&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>399D91FB-2935-4416-941A-8EA82244BB2E</key>
		<dict>
			<key>note</key>
			<string>edit ~/.gh-shorthand.yml</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>5188A37A-2D54-4C5C-BD05-D1BCA54A4E71</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>52B6EB42-5058-422A-88BA-6708ECD4CAD6</key>
		<dict>
			<key>note</key>
			<string>unknown cmd</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>54B604D3-B5B3-4345-86FE-E24CFAB73636</key>
		<dict>
			<key>note</key>
			<string>term &lt;path&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>58CE5C91-8713-404B-80E5-17A455BF445D</key>
		<dict>
			<key>note</key>
			<string>clipboard</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>5DF3A592-BB66-43B9-99FC-98E48E6DC86F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>60E158C2-449E-4EE0-907F-086E5F71951C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>641B9D67-E0A2-4E4D-B173-311EFEC5E9A6</key>
		<dict>
			<key>note</key>
			<string>finder .</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6CEE0380-7BB8-4FAD-8146-1BFD0219973F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>7250CBBD-C6F1-4426-89A1-13EE9A8CA551</key>
		<dict>
			<key>note</key>
			<string>github shorthand filter

convert 'gh&lt;text&gt;' to actions</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>7ED69D0B-BE9E-48F4-9C2D-586EA3AAD3B9</key>
		<dict>
			<key>note</key>
			<string>*</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A1CEFFDE-373F-4AF0-84A3-308C41A10F8A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>A5A11480-CEAD-4CA5-9FF1-CB0175EC189D</key>
		<dict>
			<key>note</key>
			<string>finder &lt;path&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>B3994634-DAE0-4731-A50C-B90467665AE3</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>B3CFC472-CF47-4072-B35C-BDF99697D7C7</key>
		<dict>
			<key>note</key>
			<string>paste {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>B5F2864B-81D9-4ECA-8352-189497BEA83F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>B76296E1-C28E-4CC4-864A-4EE74F639B2D</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>BA5E4728-D001-400B-8B09-BF5244EC6FAF</key>
		<dict>
			<key>note</key>
			<string>cd {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>C67DF300-2383-4166-80AE-1B372DF844D9</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>D1959751-C207-4C71-911C-5B6220129C3C</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D83420D3-EC3F-439B-874F-902948F32C28</key>
		<dict>
			<key>note</key>
			<string>clipboard</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>DB204718-5A97-4642-8F05-48740B01D9B7</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>E3EF03F2-6E77-4455-B9D7-6727F063D410</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>ECBE697D-7144-42FB-A083-CAE5E03F74FF</key>
		<dict>
			<key>note</key>
			<string>open finder with {query}</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F33B74F1-CAC9-47C4-9815-D8A6E04BA755</key>
		<dict>
			<key>note</key>
			<string>error &lt;string&gt;</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F90F3CCB-0920-4D5D-A225-1446D2A2A8AA</key>
		<dict>
			<key>note</key>
			<string>strip command</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>EDITOR</key>
		<string>/usr/local/bin/mvim</string>
		<key>GH_SHORTHAND</key>
		<string>~/go/bin/gh-shorthand</string>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/zerowidth/gh-shorthand.alfredworkflow</string>
</dict>
</plist>
